@import "tailwindcss";




*,
*::before
*::after {
    box-sizing: border-box;
}


/* Height of HTML Body */
html,
body {
    height: 100%;
}

/* Body styling w/font & lineheight */
body {
    margin: 0;
    background-color: theme(--color-sky-200);
    color: theme(--color-sky-300);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}


/* Link styling */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Table styling */
table {
    border-collapse: collapse;
}

th {
    font-weight: 600;
    color: theme(--color-neutral-300);
}

td {
    color: theme(--color-neutral-200);
}


/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: theme(--color-neutral-900);
}

::-webkit-scrollbar-thumb {
    background: theme(--color-neutral-700);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme(--color-neutral-600);
}
