@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Height of HTML Body */
html,
body {
  height: 100%;
}

/* /* Body styling  */
body {
  margin: 0;

  background: linear-gradient(rgba(3, 45, 117, 0.6), rgba(7, 32, 115, 0.6)),
    url("/background/planesky.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Link styling */
a {
  text-decoration: none;
}

/* Table styling */
table {
  border-collapse: collapse;
}

/* Daily Flights styling for longest & closest */
.closest-flight {
  @apply inline-flex items-center gap-1
         text-blue-300 hover:text-green-600
           underline-offset-4 hover:underline;
}

.longest-flight {
  @apply inline-flex items-center gap-1
         text-blue-300 hover:text-green-600
           underline-offset-4 hover:underline
           transition-all duration-200
           ease-out;
}

.bearflights-popup .leaflet-popup-content-wrapper{
  background: transparent;
  padding: 0;
}
.bearflights-popup .leaflet-popup-content- {
  margin: 0;
}
