@import "tailwindcss";




*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Height of HTML Body */
html,
body {
    height: 100%;
}

/* Body styling w/font & lineheight */
body {
    margin: 0;

    background: 
    linear-gradient(
        rgba(3, 45, 117, 0.6),
        rgba(7, 32, 115, 0.6)
    ),
    url("/background/planesky.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    background-color: theme(--color-sky-300);
    color: theme(--color-sky-950);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;


    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}


/* Link styling */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Table styling */
table {
    border-collapse: collapse;
}

th {
    font-weight: 600;
    color: theme(--color-neutral-300);
}

td {
    color: theme(--color-neutral-200);
}


/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: theme(--color-neutral-900);
}

::-webkit-scrollbar-thumb {
    background: theme(--color-neutral-700);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme(--color-neutral-600);
}
