@import "tailwindcss";


*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Height of HTML Body */
html,
body {
    height: 100%;
}

/* Body styling w/font & lineheight */
body {
    margin: 0;

    background: 
    linear-gradient(
        rgba(3, 45, 117, 0.6),
        rgba(7, 32, 115, 0.6)
    ),
    url("/background/planesky.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* Link styling */
a {
    text-decoration: none;
}


/* Table styling */
table {
    border-collapse: collapse;
}

